.map-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .map-container {
    position: relative;
  }
  
  .ability-icon-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .ability-icon {
    pointer-events: auto !important;
  }
  