.app {
  display: flex;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
}

.sidebar {
  width: 250px;
  background-color: #2f2f2f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ads img {
  width: 100%;
  margin-bottom: 10px;
}
